name: Danger
on:
  pull_request:
    types: [ opened, reopened, edited, synchronize ]
jobs:
  danger:
    name: Danger
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Run Danger
        run: bundle exec danger dry_run --verbose
        env:
          GITHUB_EVENT_PATH: ${{ github.event_path }}
